<IfModule mod_rewrite.c>
    RewriteEngine On

    # If the requested resource exists, serve it directly.
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Otherwise, forward everything to Symfony front controller.
    RewriteRule ^ index.php [L]
</IfModule>

